/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Define custom fonts */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../fonts/ballpark.eot');
    src: url('../fonts/ballpark.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ballpark.woff') format('woff'),
    url('../fonts/ballpark.ttf') format('truetype'),
    url('../fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../fonts/dayrom.eot');
    src: url('../fonts/dayrom.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dayrom.woff') format('woff'),
    url('../fonts/dayrom.ttf') format('truetype'),
    url('../fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Fira Sans Bold';
    src: url('../fonts/FiraSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

/* Main elements of the page */

body
{
    background: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#main_wrapper
{
    width: 70%;
    min-width: 500px;
    margin: auto;
}

section h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('../img/separateur.png') repeat-x bottom;
    position: relative;
    margin-bottom: 25px;
}

#main_title
{
    display: inline-block;
    width: 100%;
}

header h1
{
    font-family: 'Fira Sans Bold';
    font-size: 2.5em;
    font-weight: normal;
    color: darkblue;
}

#logo, header h1
{
    display: inline-block;
    margin: 0px;
    vertical-align: bottom;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav
{
    position: absolute;
    top: 40px;
    display: inline-block;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: darkblue;
    /*border-bottom: 3px solid royalblue;*/
}

/* Body */

section, aside
{
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}

section
{
    width: 64%;
    padding: 10px;
    /*background-color: rgba(43,104,156,0.7);*/
    border-radius: 10px;
    box-shadow: 1px 1px 5px #1c1a19;
}

section p
{
    font-size: 0.9em;
}

/* Temperature */




/* Surveillance */

section p img
{
    max-width: 100%;
    max-height: 100%;
    padding-top: 10px;
}

.jog-panel
{
    display: inline-block;
}

#jog_panel_xy
{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#jog_panel_z
{
    display: inline-block;
    vertical-align: top;
}

.jog-panel h1
{
    text-align: center;
    font-size: 1.5em;
    font-family: "Trebuchet MS";
}

#jog_ydec
{
    margin-left: 44px;
    margin-bottom: 4px;
}
#jog_zup
{
    display: block;
    margin-bottom: 4px;
}

#jog_yinc
{
    margin-left: 44px;
    margin-top: 4px;
}
#jog_zdown
{
    display: block;
}
#jog_zhome
{
    display: block;
    margin-bottom: 4px;
}

/* Timelapse */



/* Info */

aside
{
    width: 30%;
    position: relative;
    float: right;
    background-color: rgba(51,122,183,0.8);
    border-radius: 10px;
    box-shadow: 1px 1px 5px #1c1a19;
    padding: 10px;
}

aside h1
{
    margin-top: 0px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}

#connection{
    border: 1px solid #204d74;
}

/* Footer */

footer
{
    background: url("../img/separateur.png") repeat-x top, url("../img/ico_top.png") no-repeat top, url("../img/ombre.png") repeat-x top;
    padding-top: 25px;
    margin-top: 20px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 0.8em;
}

#footer1, #footer2, #my_pictures
{
    display: inline-block;
    vertical-align: top;
}

#footer1
{
    width: 45%;
}

#footer2
{
    width: 45%;
}

#footer2 ul
{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    list-style-image: url('../img/ico_liensexterne.png');
    padding-left: 2px;
}

#footer2 a
{
    text-decoration: none;
    color: #760001;
}

/* section test */

table
{
    display: block;
    text-align: center;
    border-collapse: collapse;
}

table th, table td
{
    border: 1px solid #181818;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
